{% extends 'layout.html' %}

{% block body %}

    <!-- Tabla -->
    <div class="w3-container" id="Tabla" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><strong>Metabolización de Glucosa</strong></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>¡Razones de cambio instantáneas!</p>
    <p><strong>Datos en base a fechas del rango ingresado...</strong></p>
  </div>

  <!-- The Tabla -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <div class="w3-container">
          <h3>Glucosa-Tiempo</h3>  <!-- aqui se hace un for para la cantidad de  datos en el rango-->
          <ul class="w3-ul w3-light-grey w3-center">
            {%for value in cambio[]:%}
            <li class="w3-padding-16">{{value}}</li>
            {%endfor%}
          </ul>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <div class="w3-container">
          <h3>Fecha</h3>
          <ul class="w3-ul w3-light-grey w3-center">
            {%for value in fecha%}
            <li class="w3-padding-16">{{value}}</li>
            {%endfor%}
          </ul>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <div class="w3-container">
          <h3>Condición</h3>
          <ul class="w3-ul w3-light-grey w3-center">
            {% for value in condicion %}
              {% if value == '0' %}
                <li class="w3-padding-16">Ayuno</li>
              {% endif %}
              {% if value == '1' %}
                <li class="w3-padding-16">Desayuno</li>
              {% endif %}
              {% if value == '2' %}
                <li class="w3-padding-16">Almuerzo</li>
              {% endif %}
              {% if value == '3' %}
                <li class="w3-padding-16">Cena</li>
              {% endif %}
            {%endfor%}
          </ul>
        </div>
      </div>
      <br><br><br><br>
    </div>
  </div>

{% endblock %} 
