{% extends 'layout.html' %}

{% block body %}


  <!-- Tendencia -->
  <div class="w3-container" id="Tendencia" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><strong>Tendencia</strong></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Modelo de Regresión Lineal.</p>
    <img src="/static/grafica.png" style="width:100%" onclick="onClick(this)" alt="graficaRegLin">
    <center>
      <br><br>
      <div class="card">
        <div class="container">
          <h2><strong>{{r2}}</strong></h2> 
          <p>*coeficiente de determinación r²</p> 
        </div>
      </div>
      </center>
      <br><br><br>
  </div>

{% endblock %} 